@font-face {
	font-family: "LatoBold";
	src: url("/src/fonts/LatoBold/LatoBold.eot");
	src: url("/src/fonts/LatoBold/LatoBold.eot?#iefix")format('embedded-opentype'),
	url("/src/fonts/LatoBold/LatoBold.woff") format('woff'),
	url("/src/fonts/LatoBold/LatoBold.ttf") format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "LatoRegular";
	src: url("/src/fonts/LatoRegular/LatoRegular.eot");
	src: url("/src/fonts/LatoRegular/LatoRegular.eot?#iefix")format('embedded-opentype'),
	url("/src/fonts/LatoRegular/LatoRegular.woff") format('woff'),
	url("/src/fonts/LatoRegular/LatoRegular.ttf") format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoLight";
	src: url("/src/fonts/RobotoLight/RobotoLight.eot");
	src: url("/src/fonts/RobotoLight/RobotoLight.eot?#iefix")format('embedded-opentype'),
	url("/src/fonts/RobotoLight/RobotoLight.woff") format('woff'),
	url("/src/fonts/RobotoLight/RobotoLight.ttf") format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "LatoLight";
	src: url("/src/fonts/LatoLight/LatoLight.eot");
	src: url("/src/fonts/LatoLight/LatoLight.eot?#iefix")format('embedded-opentype'),
	url("/src/fonts/LatoLight/LatoLight.woff") format('woff'),
	url("/src/fonts/LatoLight/LatoLight.ttf") format('truetype');
	font-style: normal;
	font-weight: normal;
}
